<div fxLayout="column">
  <mat-toolbar color="primary">
    <span class="fill-space"></span>
    <div fxLayoutAlign="center">
      <span>Vehicle Inventory</span>
    </div>
    <span class="fill-space"></span>
    <span> ARGUS</span>
  </mat-toolbar>


  <div class="container" fxLayoutAlign="center" fxLayout fxLayout="column" fxFlexOffset="10px" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxLayoutAlign="center">
      <div fxFlex="70%">
        <mat-card>
          <div fxLayout="column" fxLayoutGap="10px">
            <mat-toolbar>Add new vehicle</mat-toolbar>
            <p>Use this form below to add a new vehicle to your vehicle list. Don't forget to fill all relevant fields.</p>
            <mat-card>
              <div class="form-container" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="70%">
                  <input matInput placeholder="Vehicle Name" [(ngModel)]="newVehicleName" [formControl]="vehicltNameControl" required>
                  <mat-error *ngIf="vehicltNameControl.hasError('required')">Please select a name</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="30%">
                  <mat-select placeholder="Choose the type of car" [(ngModel)]="selectedVehicleType" [formControl]="vehicltTypeControl" required>
                    <mat-option value="option" *ngFor="let type of vehicleTypes" [value]="type">{{type.viewValue}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="vehicltTypeControl.hasError('required')">Please choose a type</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout>
                <button mat-raised-button [disabled]="vehicltNameControl.hasError('required') || vehicltTypeControl.hasError('required')"
                  color="primary" (click)="addVehicle()">Add</button>
              </div>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </div>


    <div fxLayoutAlign="center">
      <div fxFlex="70%">
        <mat-card>
          <div fxLayout="column" fxLayoutGap="10px">
            <mat-toolbar>Your current vehicle list ({{vehicles.length}})</mat-toolbar>
            <div fxLayout="column" fxLayoutGap="10px">
              <span>This show your current vehicle inventory. </span>
              <span>By clicking a vehicle, you can edit or permenantly remove it.</span>
            </div>
            <mat-accordion>

              <mat-expansion-panel *ngFor="let vehicle of vehicles; let i = index" (opened)="vehicleToUpdateIndex = i">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{vehicle.name}} ({{vehicleTypes[vehicle.type].viewValue}})
                  </mat-panel-title>
                  <mat-panel-description>
                    Created: {{vehicle.timeCreated}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div fxLayoutGap="8px" fxLayout="column">

                  <mat-divider [inset]="true"></mat-divider>

                  <span>Change vehicle name or type. </span>

                  <div fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="70%">
                      <input matInput placeholder="{{vehicles[vehicleToUpdateIndex].name}}" [(ngModel)]="editVehicleName" [formControl]="editVehicltNameControl"
                        required>
                      <mat-error *ngIf="editVehicltNameControl.hasError('required')">Please select a name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30%">
                      <mat-select placeholder="{{vehicleTypes[vehicles[vehicleToUpdateIndex].type].viewValue}}" [(value)]="editSelectedVehicleType"
                        [formControl]="editVehicltTypeControl" required>
                        <mat-option value="option" *ngFor="let type of vehicleTypes" [value]="type.value">{{type.viewValue}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="editVehicltTypeControl.hasError('required')">Please choose a type</mat-error>
                    </mat-form-field>
                  </div>

                  <div fxLayout fxLayoutGap="10px">
                    <button mat-raised-button [disabled]="editVehicltNameControl.hasError('required') || editVehicltTypeControl.hasError('required')"
                      color="primary" (click)="updateVehicle()">Update</button>
                    <button mat-button (click)="openDeleteVehicleDialog()" color="warn">Delete</button>
                  </div>
                </div>

              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container color-dark">
  <div class="col">
    <p>Add new vehicle</p>
  </div>
  <div class="col">
    <p>Your current vehicle list ({{vehicles.length}})</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p>Use this form below to add a new vehicle to your vehicle list. Don't forget to fill all blanks.</p>

    <form>
      <div class="container">
        <input type="text" class="txt" name="vehicle_name" placeholder="Vehicle name" [(ngModel)]="newVehicleName">
        <select class="selection" name="vehicle_type" [(ngModel)]="selectedVehicleTypeT">
          <option class="txt" disabled>Choose the type of car</option>
          <option class="txt" *ngFor="let type of vehicleTypes">{{type}}</option>
        </select>
      </div>
      
      <input type="submit" class="btn" value="Add Vehicle" ng-disabled="true" (click)="addVehicle()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let vehicle of vehicles">
      {{vehicle.name}}
      {{vehicle.type}}
      {{vehicle.timeCreated}}
    </p>
  </div>
</div>

<input type="button" class="btn" ng-disabled="true" value="Add Vehicle">

<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button class="btn" ng-model="button" ng-disabled="true">Button</button> -->